.add-products {
  .add-products__title {
    margin-top: $margin-30;
    padding-bottom: $margin-30;
    border-bottom: 1px solid $ce-gray-dark;
    margin-bottom: $margin-15;
  }

  .add-products__list {
    list-style: none;
    padding: 0;
    margin-bottom: $margin-40;
  }

  .add-products__item {
    margin-bottom: $margin-15;
    border-bottom: 1px solid $ce-gray-dark;

    &:last-child {
      border-bottom: none;
    }
  }

  .add-product__title {
    text-transform: uppercase;
    font-size: $font-size-16px;
    margin-bottom: $margin-15;
  }

  .add-product__details {
    display: flex;

    &:last-child {
      align-self: flex-end;
      text-align: right;
    }
  }
}
