.page-footer {
  background-color: $ce-gray;
  padding: 0 !important;

  .page-footer__wrapper {
  }

  .contacts {
  }

  .contacts__info {
    padding: $margin-25;
    background-color: $ce-white;
  }

  .contacts__title,
  .contacts__address {
    margin-bottom: 0;
  }

  .contacts__title {
    font-size: $font-size-16px;
    text-transform: uppercase;
  }

  .contacts__map {
    iframe {
      width: 320px;
      height: 480px;
    }
  }

  .page-footer__bottom {
    // display: flex;
    padding: 0 $margin-25;
    margin-bottom: $margin-10;
  }

  .page-footer__logo {
    position: static;
    fill: $ce-gray;
    margin: $margin-25 auto;
    padding-bottom: $margin-25;
    text-align: center;
    border-bottom: 1px solid $ce-gray-dark;
  }

  .page-footer__social {
    margin: $margin-25 auto;
    text-align: center;
    border-bottom: 1px solid $ce-gray-dark;
    padding-bottom: $margin-25;

    ul {
      margin: 0;
    }

    li {
      list-style: none;
      padding: 0;
    }
  }

  .page-footer__copyright {
    text-align: center;
    padding-bottom: $margin-25;

    b {
      text-align: left;
      font-size: $font-size-16px;
      font-family: $font-family-text;
    }
  }
}
