.catalog {
  padding-top: $margin-40;

  .catalog__title {
    font-weight: 400;
    margin-bottom: $margin-40;
  }

  .catalog__list {
    padding: 0;
    list-style: none;
  }

  .catalog__item {
    padding-bottom: $margin-25;
    border-bottom: 1px solid $ce-gray-dark;
  }

  .product__description {
    margin-bottom: $margin-15;
  }

  .product__details {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 12px;
    color: $ce-text-black-lighter;
    line-height: 1.33;
  }

  .product__title {
    margin-bottom: $margin-25;
    font-weight: 400;
    text-transform: uppercase;
  }
}
