.features {
  ul {
    list-style: none;
    padding: 0;
  }

  .features__title {
    font-weight: 400;
  }

  .features__item {
    display: flex;
    margin: 0 0 20px 0;
  }

  .features__item::before {
    content: "";
    display: block;
    flex-shrink: 0;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    background-color: $ce-btn-green;
  }

  .feature--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  .feature--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  .feature--dining::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  .feature--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  .feature__description {
    padding-right: 5px;
  }
}
