.home-hero {
  position: relative;
  text-align: center;
  color: $ce-white;

  .container {
    margin-bottom: $margin-20;
    margin-left: $margin-20;
    margin-right: $margin-20;
    padding-top: $margin-35;
  }
}

.home-hero__image {
  display: block;
  margin: auto;
}

.home-hero__title,
.home-hero__motto {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  margin-top: 0;
}

.home-hero__title {
  margin-bottom: $margin-20;
  line-height: 1;
}

.home-hero__motto {
  text-transform: uppercase;
  margin-bottom: $margin-30;
}

.home-hero__image {
  margin-top: $margin-30;
}

@media (min-width: $tablet-width) {
  .home-hero {
    color: $ce-text-black;

    .container {
      display: flex;
      flex-direction: column;
      min-height: 800px;
      margin-left: $margin-30;
      margin-right: $margin-30;
      margin-bottom: 0;
    }
  }

  .home-hero__image {
    display: block;
    margin-top: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .home-hero__title,
  .home-hero__motto {
    text-align: left;
    padding-left: $margin-90;
    max-width: 540px;
  }

  .home-hero__title {
    font-size: $tablet-h1;
  }

  .home-hero__motto {
    font-size: $font-size-20px;
    margin-bottom: $margin-40;
  }

  .btn--home-hero {
    margin-left: $margin-90;
    max-width: 300px;
    font-size: $font-size-20px;
  }
}

@media (min-width: $desktop-width) {
  .home-hero {
    color: $ce-text-black;

    .container {
      display: flex;
      flex-direction: column;
      min-height: 505px;
      margin-left: $margin-110;
      margin-right: $margin-110;
      margin-bottom: $margin-80;
    }
  }

  .home-hero__image {
    display: block;
    margin: auto;
    margin-top: 0;
    position: absolute;
    bottom: 120px;
    right: 330px;
    z-index: -1;
  }

  .home-hero__title {
    padding-top: $margin-55;
  }
}
