.site-list {
  display: block;
  margin: 0;
  padding: 0;
}

.site-list__item {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: $margin-25 auto;
  padding-bottom: $margin-25;
  border-bottom: 1px solid $ce-gray-dark;

  &:last-child {
    margin-bottom: 0;
  }
}

.site-list__link {
  font-family: $font-family-sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;

  &--active {
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 60%;
  }

  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  }

  .site-list__item {
    border: none;
  }

  .site-list__link {
    font-weight: 400;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    max-width: 40%;
  }
}
