.program-selector {
  text-transform: uppercase;
}

.container__program-selector {
  padding-top: $margin-30;
  padding-bottom: $margin-35;
  margin-left: $margin-20;
  margin-right: $margin-20;
}

.program-selector__title {
  text-transform: none;
  margin-bottom: $margin-35;
  font-weight: 400;
  margin-top: 0;
}

.program-selector__description {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  margin-bottom: $margin-40;
  padding-right: $margin-30;
}

.program-selector__legend {
  font-size: $font-size-root;
  text-transform: none;
  text-align: center;
  margin: auto;
  font-family: $font-family-text;
  color: $ce-text-black-lighter;
}

@media (min-width: $tablet-width) {
}
