.container__programs {
  margin-bottom: $margin-30;
}

.program {
  background-color: $ce-gray;
  margin-bottom: $margin-20;
  padding: $margin-40 $margin-20 $margin-20 $margin-20;
}

.program__image {
  position: absolute;
  top: 25px;
  width: 50px;
  height: 50px;
  background: $ce-btn-green;
  border-radius: 50%;
}

.program__title {
  text-transform: uppercase;
  line-height: 1;
  font-weight: normal;
  padding-left: $margin-70;
  margin-bottom: $margin-35;
}

.program__description {
  padding-right: 15px;
  padding-bottom: $margin-25;
  border-bottom: 1px solid $ce-gray-dark;
}

.btn--program {
  text-align: left;
  color: $ce-text-black;
  padding-left: 0;
  font-size: $font-size-16px;
  background: transparent;

  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 10px;
    background: url("img/icon-right-arrow-long.svg") no-repeat center;
  }
}

@media (min-width: $tablet-width) {
  .container__programs {
    display: flex;
    flex-direction: column;
  }

  .program {
    background-color: $ce-gray;
    margin-bottom: $margin-20;
    padding: $margin-80 $margin-315 $margin-55 $margin-55;
  }

  .program__image {
    right: 90px;
    top: 90px;
    width: 200px;
    height: 200px;
  }

  .program__title {
    font-size: $font-size-36px;
    line-height: 1;
    margin-bottom: $margin-25;
    padding-left: 0;
  }

  .program__description {
    font-size: $font-size-16px;
    line-height: 1.5;
    padding-bottom: 0;
    margin-bottom: $margin-60;
    border-bottom: none;
  }

  .btn--program {
    font-size: $font-size-20px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .container__programs {
    flex-direction: row;
    margin-bottom: $margin-80;
  }

  .program--slim {
    margin-right: $margin-80;
  }

  .program {
    width: 50%;
    max-width: 570px;
    margin-bottom: $margin-20;
    padding: $margin-50 $margin-55 $margin-60 $margin-50;
  }

  .program__image {
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: $ce-btn-green;
    border-radius: 50%;
  }

  .program__title {
    margin-top: -$margin-65;
    padding-left: $margin-165;
    margin-bottom: $margin-70;
  }

  .program__description {
    padding-bottom: 0;
  }
}
