.program-selector {
  padding-top: $margin-30;
  padding-bottom: $margin-35;
  text-transform: uppercase;

  .program-selector__title {
    text-transform: none;
    margin-bottom: $margin-35;
    font-weight: 400;
    margin-top: 0;
  }

  .program-selector__description {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    margin-bottom: $margin-40;
    padding-right: $margin-30;
  }

  .program-selector__legend {
    font-size: $font-size-root;
    text-transform: none;
    text-align: center;
    margin: auto;
  }

  .selector-form__element {
    padding-bottom: $margin-10;
    margin-bottom: $margin-30;
    padding-bottom: 0;

    &:first-child {
      padding-top: 0;
    }
  }

  .selector-form__programs,
  .selector-form__personal {
    margin-bottom: $margin-30;
    padding-bottom: $margin-20;
    border-bottom: 1px solid $ce-gray-dark;
  }

  .selector-form__extras {
    border-bottom: none;
  }

  .selector-form__item {
    margin-bottom: $margin-15;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .selector-form__title {
    padding-right: $margin-65;
    margin-bottom: $margin-30;
    line-height: 1;
  }

  .program {
    padding-left: $margin-40;
  }

  .program-selector__legend {
    font-family: $font-family-text;
    color: $ce-text-black-lighter;
  }
}
