.show-more {
  text-align: center;
  border-bottom: 1px solid $ce-gray-dark;
  padding-top: $margin-40;
  padding-bottom: $margin-25;

  .show-more__title {
    font-size: $font-size-16px;
    margin-bottom: $margin-10;
    text-transform: uppercase;
    font-weight: 400;

    &::before {
      content: "";
      display: block;
      flex-shrink: 0;
      margin-right: 20px;
      width: 30px;
      height: 30px;
      background-image: url("../img/icon-plus-mobile.svg");
      opacity: 0.2;
      margin: auto;
      margin-bottom: $margin-25;
    }
  }

  .show-more__description {
    font-size: $font-size-12px;
    padding-bottom: $margin-15;
    margin: 0;
  }
}
