.extra-input {
  display: none;
}

.extra-checkbox {
  position: relative;
  display: block;
  vertical-align: middle;
  line-height: $checkbox-size;

  &--large span::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    margin-right: $margin-15;
    height: $checkbox-size;
    width: $checkbox-size;
    outline: solid 1px $ce-gray-dark;
  }
  & input:checked + span::before {
    background-image: url("img/icon-tick.svg");
  }
}
