.program-selector {
  padding-top: $margin-30;

  .program-selector__title {
    margin-bottom: $margin-30;
  }

  .program-selector__description {
    margin-bottom: $margin-40;
    padding-right: $margin-30;
  }

  .selector-form__element {
    border-bottom: 1px solid $ce-gray-dark;
    padding-bottom: $margin-10;
    padding-top: $margin-25;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
    }
  }

  .selector-form__title {
    padding-top: $margin-25;
    padding-right: $margin-65;
    line-height: 1;
  }

  .selector-form__extra {
  }

  .program-selector__legend {
    font-size: $font-size-root;
    text-transform: none;
    text-align: center;
    margin: auto;
  }
}
