.page-footer {
  background-color: $ce-gray;
  padding: 0 !important;

  .page-footer__wrapper {
  }

  .contacts {
    background-color: $ce-white;
  }

  .contacts__info {
    padding: $margin-25;
  }

  .contacts__title,
  .contacts__address {
    margin-bottom: 0;
  }

  .contacts__title {
    font-size: $font-size-16px;
    text-transform: uppercase;
  }

  .contacts__map {
    iframe {
      width: 320px;
      height: 480px;
    }
  }

  .page-footer__logo--image {
    position: static;
    fill: $ce-gray;
    width: 128px;
    height: 24px;
  }
}
