// Custom Variables

// Table of Contents
//
// Colors
// Options
// Custom scale
// Typography
// Forms
// Spacing
// Grid columns
// Components general
// Navbar
// Forms
// Cards

// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.

// Colors
//
// Mediatis colors

$ce-white: #ffffff;

$ce-gray: #f1f1f1;
$ce-gray-dark: #cdcdcd;

$ce-btn-green: #68b738;

$ce-text-black: #111111;
$ce-text-black-lighter: #444444;

// Typography
//
$font-family-sans-serif: "Oswald", Helvetica, Arial, sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 14px !default;
$font-size-root-unitless: 14; // Do the (rem) math with the scale

$font-size-h1: 36px;
$font-size-h2: 24px;
$font-size-h3: $font-size-root;

$button-text: 20px;
