.program-input {
  display: none;
}

.program-radio {
  position: relative;
  display: block;
  vertical-align: middle;
  line-height: $checkbox-size;
  cursor: pointer;

  &--large span::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    margin-right: $margin-15;
    height: $checkbox-size;
    width: $checkbox-size;
    border: solid 1px $ce-gray-dark;
    border-radius: 50%;
  }

  & input:checked + span::before {
    background-image: url("img/icon-circle.svg");
  }
}
