.btn {
  padding: 17px 30px 15px 30px;
  background-color: $ce-btn-green;
  color: $ce-white;
  border-style: none;
  cursor: pointer;

  &--home-hero {
    width: 100%;
  }

  &--program {
    text-align: left;
    color: $ce-text-black;
    padding-left: 0;
    font-size: $font-size-16px;
    background: transparent;

    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 10px;
      background: url("../img/icon-right-arrow-long.svg") no-repeat center;
    }
  }

  &--example {
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-size: $font-size-16px;
    color: $ce-text-black;
  }

  &--send-request {
    width: 100%;
  }
}
